.sideBar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #3c114b;
  box-sizing: content-box;
}
.barraSelecao {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  scroll-behavior: unset;
  scroll-snap-type: y mandatory;
  height: 100%;
}
.barraSelecao::-webkit-scrollbar {
  display: none;
}
.barraSelecao ul {
  width: 100%;
}
.selecao {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  border-bottom: #20002a solid 1px;
}
.selecao .selectButton {
  font-size: 22px;
  height: 60px;
}
.menuVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menuVideo {
  background-color: #532561;
  list-style: none;
  overflow: hidden;
  display: none;
}
.menuVideo li {
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.menuVideo.open {
  display: block;
}
.menuVideo .selectButton {
  font-size: 14px;
}
.selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: sans-serif;
  color: white;
  transition: 0.2s;
}
.selectButton:hover {
  background-color: #20002a;
  cursor: pointer;
}
.btnBoxCanal {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 90%;
  max-height: 60px;
  height: 100%;
  width: 30px;
  display: none;
}
.btnShow {
  display: block;
}
.btnCanal {
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
}
.apagarCanal {
  background-color: #960e0e;
}
.editar {
  background-color: #20002a;
  color: white;
}
