* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #472353;
}

.App {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.contentWrapper {
  display: flex;
  position: relative;
  align-content: center;
  height: 100vh;
}

