header {
  display: flex;
  position: sticky;
  align-items: center;
  margin: 0;
  padding: 15px;
  height: 60px;

  background-color: #20002a;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}
